<div class="main">
  <app-card-list [cards]="puppets" (dadTalk)="Message($event)"></app-card-list>
  <div class="switchbox">
    <app-hero-details [card]="switcher" (close)="tabClose()" *ngIf="switcher; else home"
    ></app-hero-details>
    <ng-template #home>
      <div class="welcome">
        <h1>Benvenuti nello shop di</h1>
        <img
          src="https://www.develhope.co/_nuxt/img/cav_black.9dc2b13.svg"
          alt="Develhope logo"
        />
        <h3>
          Clicca sui dettagli del prodotto per visualizzare tutte le
          informazioni
        </h3>
      </div>
    </ng-template>
  </div>
</div>
