.main {
  width: 64vw;
  height: 70vh;
}

.card {
  border: solid black 1px;
  box-shadow: 2px 2px 4px black;
  height: 68vh;
}

.info {
  display: flex;
}

ul li {
  list-style: none;
  padding: 1rem;
}

img {
  width: 20vw;
}

.colinfo {
  display: flex;
  flex-direction: column;

  width: 23vw;
  justify-content: center;
  align-items: flex-start;
}

button {
  background-color: crimson;
  font-weight: bolder;
  border-radius: 25%;
  width: 7vw;
}

.buttonarea {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  height: 8vh;
  width: 97%;
}
